## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
*.log

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.vc.db
*.VC.VC.opendb

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## Others
*.dbmdl
*.pfx
*.publishsettings